* {
    padding: 0;
    margin: 0;
}


:root {
    --color-1: #040D12;
    --color-2: #183D3D;
    --color-3: #5C8374;
    --color-4: #93B1A6;
}

body {
    /* background-image: linear-gradient(var(--color-1), var(--color-2), var(--color-1)); */
    background-color: var(--color-1);
    color: #93B1A6;
    font-family: none;
    overflow-x: hidden;
}


/* NAV BAR STYLING STARTS */
#NAV {
    height: 12vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.442);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.288);
    z-index: 1000;
    font-family: "Philosopher", sans-serif;
}

.container {
    padding: 13px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img {
    width: 5%;
}

.navbar-brand {

    font-size: 23px;
}

a.nav-link.active:hover {
    text-decoration: none;
    color: var(--color-4);
    transform: scale(1.1);
}

a.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}

a.nav-link:hover {
    text-decoration: none;
    color: var(--color-4);
    transform: scale(1.1);
}

button {
    color: #fff !important;
    border-color: var(--color-4) !important;
}

button:hover {
    background-color: #183D3D !important;
    box-shadow: 0 0 20px #101514,
        0 0 1px var(--color-3), 0 0 2px var(--color-2),
        0 0 2px var(--color-3), 0 0 4px var(--color-3);
}

/* NAV BAR STYLING ENDS */
.content {
    justify-content: center;
    align-items: center;
    padding: 3%;
    display: flex;
}

.main-div {
    height: fit-content;
    background-color: #040D12;
    width: 55%;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 1%;
    border-radius: 20px;
    box-shadow: 0 0 20px #101514,
        0 0 2px var(--color-3), 0 0 5px var(--color-2),
        0 0 5px var(--color-3), 0 0 8px var(--color-3);
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
        
}

h1 {
    font-size: 33px;
    font-weight: 400;
    text-align: center;
    margin-top: 4%;
    padding-bottom: 4%;
    color: var(--color-3);
    text-shadow: var(--color-4) 1px 1px;
    font-family: NONE;
}

p {
    font-size: 20px;
    margin-top: 3%;
    color: rgba(255, 255, 255, 0.582);
    margin-left: 5%;
    padding-right: 4%;
}

a{
    text-decoration: none;
    color: var(--color-4);
}

.buttons{
    display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  gap: 15px;
  margin-left: 4%;

}

.form{
    width: 45%;
    margin-top: 7px;
}

.cssbuttons-io-logout {
    display: inline;
    /* padding: 5px; */
    justify-content: center;
    align-items: center;
    margin: 5px ;
    justify-self: center;
    width: 100%;
    margin-top: 2%;
    position: relative;
    font-family: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background:linear-gradient(to right, #040D12, #5C8374);
    overflow: hidden;
    box-shadow: 0 0 20px #101514,
    0 0 1px var(--color-3), 0 0 2px var(--color-2),
    0 0 2px var(--color-3), 0 0 1px var(--color-3);
}

.cssbuttons-io-logout span {
    position: relative;
    color: var(--color-4);
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io-logout::before,
.cssbuttons-io-logout::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io-logout::before {
    content: "";
    background: #040D12;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io-logout:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io-logout:active {
    transform: scale(0.95);
}











.cssbuttons-io {
    display: inline;
    /* padding: 5px; */
    justify-content: center;
    align-items: center;
    margin: 5px ;
    justify-self: center;
    width: 45%;
    margin-top: 2%;
    position: relative;
    font-family: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #040D12, #5C8374);
    color: var(--color-4);
    overflow: hidden;
    box-shadow: 0 0 20px #101514,
    0 0 1px var(--color-3), 0 0 2px var(--color-2),
    0 0 2px var(--color-3), 0 0 1px var(--color-3);
}

.cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io::before {
    content: "";
    background: #040D12;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
    transform: scale(0.95);
}
.container img{
    width: 5%;
}
.cssbuttons-io1{
    display: inline;
    /* padding: 5px; */
    justify-content: center;
    align-items: center;
    margin: 5px ;
    justify-self: center;
    width: 91%;
    margin-top: 5%;
    position: relative;
    font-family: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #040D12, #5C8374);
    color: var(--color-4);
    overflow: hidden;
    box-shadow: 0 0 20px #101514,
    0 0 1px var(--color-3), 0 0 3px var(--color-2),
    0 0 3px var(--color-3), 0 0 6px var(--color-3);
    height: 8vh;
}


 /* FOOTER */
 /* p{
    transition:all 0.5s !important;
  }
 
  p a{
    text-decoration: none;
    color: var(--color-4) !important;
    transition:all 0.5s !important;
  }
 
  h6{
    transition:all 0.5s !important;
    color: var(--color-3) !important;
  }


  END FOOTER */
  .p1{
color: white;
  }

@media only screen and (max-width:870px) {


    .main-div {
        height: 100vh;
        width: 70%;
        margin-top: 15%;
    }
}

@media screen and (max-width:700px){
body {
    height: 130%;
}
    .main-div {
       min-height: 105vh;
        width: 90%;
        margin-top: 10%;
    }
    
    h1{
        font-size: 28px;
        margin-top: 5%;
    }
    
    p{
        margin-top: 4%;
    }

}
.cssbuttons-io1{
    display: inline;
    /* padding: 5px; */
    justify-content: center;
    align-items: center;
    margin: 5px ;
    justify-self: center;
    width: 91%;
    margin-top: 5%;
    position: relative;
    font-family: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #040D12, #5C8374);
    color: var(--color-4);
    overflow: hidden;
    box-shadow: 0 0 20px #101514,
    0 0 1px var(--color-3), 0 0 3px var(--color-2),
    0 0 3px var(--color-3), 0 0 6px var(--color-3);
    height: 8vh;
}

.cssbuttons-io1 span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io1::before,
.cssbuttons-io1::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io1::before {
    content: "";
    background: #040D12;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io1:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io1:active {
    transform: scale(0.95);
}