:root{
    --color-1:#040D12 ;
    --color-2:#183D3D ;
    --color-3:#5C8374 ;
    --color-4:#93B1A6 ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-image: linear-gradient(to right, var(--color-1),var(--color-2)); */
    background-color: var(--color-1);
}

/* NAV BAR STYLING STARTS */
#NAV {
    height: 12vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.442);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.288);
    z-index: 1000;
    font-family: "Philosopher", sans-serif;
}

.container {
    padding: 13px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img {
    width: 5%;
}

.navbar-brand {

    font-size: 23px;
}

a.nav-link.active:hover {
    text-decoration: none;
    color: var(--color-4);
    transform: scale(1.1);
}

a.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}

a.nav-link:hover {
    text-decoration: none;
    color: var(--color-4);
    transform: scale(1.1);
}

button {
    color: #fff !important;
    border-color: var(--color-4) !important;
}

button:hover {
    background-color: #183D3D !important;
    box-shadow: 0 0 20px #101514,
        0 0 1px var(--color-3), 0 0 2px var(--color-2),
        0 0 2px var(--color-3), 0 0 4px var(--color-3);
}

/* NAV BAR STYLING ENDS */

form {
    max-width: 500px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px #101514,
        0 0 7px var(--color-3), 0 0 10px var(--color-2),
        0 0 10px var(--color-3), 0 0 13px var(--color-3);
    background-color: #091d28;
    color: var(--color-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
}

p {
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    margin-top: 5px;
    width: 70%;
    box-sizing: border-box;
    background-color: var(--color-4);
    display: block;
    border: none;
    border-radius: 10px;
}

.cssbuttons-io {
    display: block;
    padding: 5px;
    /* margin: 30px auto 0 auto; */
    position: relative;
    font-family: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #040D12, #5C8374);
    color: var(--color-4);
    overflow: hidden;
}

.cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.5em 1.2em 0.5em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io::before {
    content: "";
    background: #040D12;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
    transform: scale(0.95);
}

a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: var(--color-4);
}

@media (max-width: 992px){
    form {
        max-width: 500px;
        margin: 15% auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 20px #101514, 0 0 7px var(--color-3), 0 0 10px var(--color-2), 0 0 10px var(--color-3), 0 0 13px var(--color-3);
        background-color: #091d28;
        color: var(--color-4);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 70%;
    }
}

@media (max-width: 580px) {
    form {
        max-width: 500px;
        margin: 25% auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 20px #101514, 0 0 7px var(--color-3), 0 0 10px var(--color-2), 0 0 10px var(--color-3), 0 0 13px var(--color-3);
        background-color: #091d28;
        color: var(--color-4);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 70%;
    }
}

@media (max-width: 512px){
    form {
        max-width: 500px;
        margin: 25% auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 20px #101514, 0 0 7px var(--color-3), 0 0 10px var(--color-2), 0 0 10px var(--color-3), 0 0 13px var(--color-3);
        background-color: #091d28;
        color: var(--color-4);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 70%;
    }
}

@media (max-width: 375px){
    form {
        max-width: 500px;
        margin: 35% auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 20px #101514, 0 0 7px var(--color-3), 0 0 10px var(--color-2), 0 0 10px var(--color-3), 0 0 13px var(--color-3);
        background-color: #091d28;
        color: var(--color-4);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
    }
}