* {
    margin: 0;
    padding: 0;
}

:root {
    --color-1: #040D12;
    --color-2: #183D3D;
    --color-3: #5C8374;
    --color-4: #93B1A6;

}

/* NAV BAR STYLING STARTS */
#NAV {
    height: 12vh;
    width: 100%;
    width: fit-content;
    position: relative;
    background-color: rgba(0, 0, 0, 0.442);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.288);
    margin-top: 0;

}

.container {
    padding: 13px 20px 13px 20px;
    width: 100%;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.442);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.288);
}

.navbar-scrolled {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.442);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.288);
    height: 30vh;
    position: fixed;
}

.navbar-brand {
    font-family: "El Messiri", sans-serif;
    font-size: 23px;
}

a.nav-link.active:hover {
    text-decoration: none;
    color: var(--color-4);
    transform: scale(1.1);
}

a.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}

a.nav-link:hover {
    text-decoration: none;
    color: var(--color-4);
    transform: scale(1.1);
}

button {
    color: #fff !important;
    border-color: var(--color-4) !important;
}

button:hover {
    background-color: #183D3D !important;
    box-shadow: 0 0 20px #101514,
        0 0 1px var(--color-3), 0 0 2px var(--color-2),
        0 0 2px var(--color-3), 0 0 4px var(--color-3);
}

/* NAV BAR STYLING ENDS */

.title {
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--color-1), var(--color-2), var(--color-1));
    color: var(--color-3);
    text-shadow: var(--color-4) 1px 1px;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    font-family: none;
}

.title h1 {
    margin: 17px;
}

/* FILTER STARTS */
.filter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    font-family: NONE;
}

.filterbtn {
    background-color: #bedfd3;
    color: var(--color-2) !important;
    padding: 8px 18px;
    border-radius: 20px;
    width: 25%;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin: 17px;
}

.filterbtn:hover {
    background-color: var(--color-1) !important;
    box-shadow: 0 0 20px #101514,
        0 0 1px var(--color-3), 0 0 2px var(--color-2),
        0 0 2px var(--color-3), 0 0 4px var(--color-3);
}

.filter ul {
    display: none;
    position: absolute;
    background-color: var(--color-4);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.filter ul li {
    color: var(--color-1);
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    font-size: 17px;
    font-weight: 600;
}

.filter ul li:hover {
    background-color: var(--color-3);
}

.filter:hover ul {
    display: block;
}

.Submit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    color: var(--color-4);
    text-align: var(--color-3) 1px 1px;
    margin-top: 18px;
    width: 200px;
    height: 44px;
    background-color: var(--color-2);
    box-shadow: var(--color-1) 2px 1px;
    border-radius: 30px;
    font-size: 18px;
    font-family: none;
    margin-left: 13px;
    margin: 17px;
}

.Submit:hover {
    box-shadow: 0 0 20px #101514,
        0 0 1px var(--color-3), 0 0 2px var(--color-2),
        0 0 2px var(--color-3), 0 0 4px var(--color-3);
    color: var(--color-4);
    background-color: var(--color-3);
    color: var(--color-1);
    transition-duration: 0.2s;
}

/* FILTER ENDS */

body {
    background-color: var(--color-1);
    min-height: fit-content;
}

.main {
    background-color: var(--color-1);
    width: 100%;
    /* height: 130%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main-container {
    width: 100%;
    height: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    color: var(--color-1);
    border-radius: 30px;
    padding-bottom: 10%;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    margin: 20px;
    border-radius: 22px;
    line-height: 1.1;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
    width: 125%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 22px;
    overflow: hidden;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    color: var(--color-4);
    background-image: linear-gradient(var(--color-1), var(--color-2), var(--color-1));
    box-shadow: 0 0 20px #101514,
        0 0 3px var(--color-3), 0 0 8px var(--color-2),
        0 0 8px var(--color-3), 0 0 10px var(--color-3);
}

.content img {
    border-radius: 10%;
    margin: 20px;
    width: 40%;
}

.content .info {
    z-index: 1;
    opacity: 1;
    font-size: 20px;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    color: #bedfd3;
    font-family: none;
}

.card:hover {
    transform: translate(0px, 5px);
    background-color: var(--color-1);
}

.card:hover .content::before {
    rotate: -8deg;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
}

.card:hover .content::after {
    rotate: 8deg;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
}

.anchor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    color: var(--color-4);
    text-align: var(--color-3) 1px 1px;
    margin-top: 18px;
    width: 190px;
    height: 40px;
    background-color: var(--color-2);
    box-shadow: var(--color-1) 2px 2px;
    border-radius: 30px;
    font-size: 18px;
    font-family: none;
}

.anchor:hover {
    box-shadow: 0 0 20px #101514,
        0 0 3px var(--color-3), 0 0 8px var(--color-2),
        0 0 8px var(--color-3), 0 0 10px var(--color-3);
    color: var(--color-4);
    background-color: var(--color-3);
    color: var(--color-1);
    transition-duration: 0.2s;
}

/* RESPONSIVE CODES */
@media screen and (max-width: 820px) {
    .filterbtn {
        width: 35%;
    }

    .container {
        flex-direction: column !important;
        /* justify-content: space-around; */
    }

    .card {
        width: 50%;
    }
}