:root {
    --color-1: #040D12;
    --color-2: #183D3D;
    --color-3: #5C8374;
    --color-4: #93B1A6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV BAR STYLING STARTS */
#NAV {
    height: 12vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.442);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.288);
    z-index: 1000;
    font-family: "Philosopher", sans-serif;
}

.container {
    padding: 13px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img {
    width: 5%;
}

.navbar-brand {

    font-size: 23px;
}

a.nav-link.active:hover {
    text-decoration: none;
    color: var(--color-4);
    transform: scale(1.1);
}

a.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}

a.nav-link:hover {
    text-decoration: none;
    color: var(--color-4);
    transform: scale(1.1);
}

button {
    color: #fff !important;
    border-color: var(--color-4) !important;
}

button:hover {
    background-color: #183D3D !important;
    box-shadow: 0 0 20px #101514,
        0 0 1px var(--color-3), 0 0 2px var(--color-2),
        0 0 2px var(--color-3), 0 0 4px var(--color-3);
}

/* NAV BAR STYLING ENDS */

/* PAGE CONTENT STARTS */
body {
    background-color: var(--color-1);
}

.main {
    width: 90%;
    margin: 50px auto;
    border-radius: 20px;
    height: fit-content;
    padding: 20px;
    box-shadow: 0 0 20px #101514,
        0 0 3px var(--color-3), 0 0 8px var(--color-2),
        0 0 8px var(--color-3), 0 0 10px var(--color-3);
        margin-top: 8%;

}

.main h1 {
    text-align: center;
    margin-bottom: 50px;
    color: var(--color-2);
    text-shadow: var(--color-4) 1px 1px;
    font-family: none;
}

.table {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: white;

}

td h3 {
    color: var(--color-4);
    font-family: none;
    font-size: 24px;
    color: white;

}

td p {
    color: #fff;
    font-family: none;
    font-size: 17px;
    color: white;

}

td {
    border: 1px solid var(--color-4);
    width: fit-content;
    padding: 10px;
    text-align: center;
    background-color: var(--color-1);
    color: white;

}

.table a {
    text-decoration: none;
    color: var(--color-4);
}

.table button {
    margin: 3px;
}


.cssbuttons-accept {
    margin: 30px auto 0 auto;
    width: fit-content;
    position: relative;
    font-family: inherit;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #040D12, #5C8374);
    color: white;
    overflow: hidden;
}

.cssbuttons-accept span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-accept::before,
.cssbuttons-accept::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-accept::before {
    content: "";
    background: var(--color-3);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-accept:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-accept:active {
    transform: scale(0.95);
}


.cssbuttons-reject {
    margin: 30px auto 0 auto;
    width: fit-content;
    position: relative;
    font-family: inherit;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background-color: var(--color-3);
    overflow: hidden;
}

.cssbuttons-reject span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-reject::before,
.cssbuttons-reject::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-reject::before {
    content: "";
    background: linear-gradient(to right, #183D3D, #93B1A6);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-reject:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-reject:active {
    transform: scale(0.95);
}

.anchor {
    margin: 30px auto 0 auto;
    width: 12%;
    position: relative;
    font-family: inherit;
    border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(var(--color-1), var(--color-2), var(--color-1));
    color: #fff !important;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 0 20px #101514,
        0 0 2px var(--color-3), 0 0 3px var(--color-2),
        0 0 3px var(--color-3), 0 0 4px var(--color-3);
}

.anchor:hover {
    background-color: var(--color-1);
    background-image: (var(--color-3));
}

/* RESPONSIVE CODES */
@media (max-width: 670px) {
    .main {
        width: 95%;
        margin: 50px auto;
        border-radius: 20px;
        height: fit-content;
        padding: 20px;
        box-shadow: 0 0 30px var(--color-3);
    }
}

@media (max-width: 470px) {
    .main {
        width: fit-content;
        margin: 50px auto;
        border-radius: 20px;
        height: fit-content;
        padding: 20px;
        box-shadow: 0 0 30px var(--color-3);
    }
}

/* PAGE CONTENT ENDS */